body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#phone-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display-box {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.digit-container {
    margin: 10px;
}

.digit {
    width: 100px; /* Adjust the width as needed */
    cursor: pointer;
}

#buttons {
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
