body {
    background-color: beige;
}

#box1 {
    border-style: solid;
    width: 40vw;
    height: 33vh;
    border-color: rgba(20, 250, 173, 1); /* Changed the alpha value to 1 */
    border-width: 3px;
    border-radius: 10px;
    background-color: mediumseagreen;
    position: relative;
}

#text1 {
    position: absolute; /* Change to absolute for positioning */
    left: 150%; /* This will position the text outside the box */
    top: 0; /* Adjust the top value as needed */
}

#box2 {
    width: 73vw;
    height: 33vh;
    border-style: solid;
    border-radius: 3px;
    border-color: purple;
    background-color: mediumvioletred;
    position: relative;
    left: 0; /* Remove left property to position it to the left */
    bottom: 0; /* Add bottom: 0 to position it at the bottom */
}

#text2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

#box3 {
    width: 73vw;
    height: 175vh;
    border-radius: 10px;
    background-color: orangered;
}

#text3 {
    position: sticky;
    top: 0;
    font-size: 50px;
    border: 5px solid green;
}

