body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black; 
    color: gold; 
    font-family: Arial, sans-serif; 
}

nav {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    background-color: black;
}

nav a {
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: gold; 
}

img {
    width: 30vw;
    height: 30vh;
}

#red-ball {
    background-color: gold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 5vw;
    top: 0;
    transition: background-color 0.3s; /* Transition for background color */
}

#red-ball:hover {
    background-color: black; /* Change ball to black on hover */
}
